In [1]:
import random
import pandas as pd

In [2]:
data = pd.read_csv(r'X:\cells\train.csv')

In [3]:
print('len(data) = {}'.format(len(data)))
data.head()

len(data) = 31072

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00070df0-bbc3-11e8-b2bc-ac1f6b6435d0</td>
      <td>16 0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0</td>
      <td>7 1 2 0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>000a9596-bbc4-11e8-b2bc-ac1f6b6435d0</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>000c99ba-bba4-11e8-b2b9-ac1f6b6435d0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>001838f8-bbca-11e8-b2bc-ac1f6b6435d0</td>
      <td>18</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
indexes = list(range(len(data)))
random.shuffle(indexes)
num_train_images = 30000
train_indexes = indexes[:num_train_images]
val_indexes = indexes[num_train_images:]

In [7]:
with open(r'X:\cells\train.txt', 'w') as f:
    for index in train_indexes:
        row = data.iloc[index]
        f.write('{} {}\n'.format(row['Id'] + '_rgba.png', row['Target']))
with open(r'X:\cells\val.txt', 'w') as f:
    for index in val_indexes:
        row = data.iloc[index]
        f.write('{} {}\n'.format(row['Id'] + '_rgba.png', row['Target']))