In [1]:
import random
from collections import defaultdict

import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data = pd.read_csv(r'X:\cells\train.csv')

In [3]:
print('len(data) = {}'.format(len(data)))
data.head()

len(data) = 31072

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00070df0-bbc3-11e8-b2bc-ac1f6b6435d0</td>
      <td>16 0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0</td>
      <td>7 1 2 0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>000a9596-bbc4-11e8-b2bc-ac1f6b6435d0</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>000c99ba-bba4-11e8-b2b9-ac1f6b6435d0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>001838f8-bbca-11e8-b2bc-ac1f6b6435d0</td>
      <td>18</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
indexes = list(range(len(data)))
random.shuffle(indexes)
num_train_images = 30000
train_indexes = indexes[:num_train_images]
val_indexes = indexes[num_train_images:]

In [5]:
with open(r'X:\cells\train.txt', 'w') as f:
    for index in train_indexes:
        row = data.iloc[index]
        f.write('{} {}\n'.format(row['Id'] + '_rgba.png', row['Target']))
with open(r'X:\cells\val.txt', 'w') as f:
    for index in val_indexes:
        row = data.iloc[index]
        f.write('{} {}\n'.format(row['Id'] + '_rgba.png', row['Target']))

### Count unique labels

In [6]:
labels_set = defaultdict(int)
for index, row in data.iterrows():
   labels = row['Target'].split()
   for l in labels:
       labels_set[l] += 1

In [7]:
print('len(labels_set) = {}'.format(len(labels_set.keys())))
print(sorted([int(a) for a in labels_set.keys()]))

len(labels_set) = 28
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]

In [8]:
print(labels_set.values())

dict_values([530, 12885, 2822, 1254, 3621, 2513, 902, 8228, 2965, 3777, 322, 1008, 1093, 1561, 688, 537, 1066, 1858, 172, 802, 210, 1482, 53, 45, 28, 328, 11, 21])

In [9]:
sorted(labels_set.items(), key=lambda a: a[1], reverse=True)

[('0', 12885),
 ('25', 8228),
 ('21', 3777),
 ('2', 3621),
 ('23', 2965),
 ('7', 2822),
 ('5', 2513),
 ('4', 1858),
 ('3', 1561),
 ('19', 1482),
 ('1', 1254),
 ('11', 1093),
 ('14', 1066),
 ('6', 1008),
 ('18', 902),
 ('22', 802),
 ('12', 688),
 ('13', 537),
 ('16', 530),
 ('26', 328),
 ('24', 322),
 ('17', 210),
 ('20', 172),
 ('8', 53),
 ('9', 45),
 ('10', 28),
 ('15', 21),
 ('27', 11)]